################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
hardware/pcb.zip
hardware/pcb/VolksEEG.zip
/hardware/KiCAD/VolksEEG/_bak
*.step